<div class="weather">
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Location:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ locationInfo.city }}</p>
    </div>
  </div>
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Resourse:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ weatherInfo.resourse }}</p>
    </div>
  </div>
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Temperature:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ weatherInfo.temperature }} &deg;</p>
    </div>
  </div>
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Feels like:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ weatherInfo.feels_like }} &deg;</p>
    </div>
  </div>
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Description:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ weatherInfo.description }}</p>
    </div>
  </div>
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Wind speed:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ weatherInfo.wind_speed }}m/s</p>
    </div>
  </div>
  <div class="weather__property">
    <div class="weather__property_name">
      <p>Humidity:</p>
    </div>
    <div class="weather__property_value">
      <p>{{ weatherInfo.humidity }}%</p>
    </div>
  </div>


</div>
