<form class="select-weather" (ngSubmit)="submit()" [formGroup]="locationForm">
  <div class="select-weather__location-group">
    <div class="select-weather__location-group_item">
      <label for=""></label>
      <input type="text" formControlName="city" />
    </div>
    <div class="select-weather__location-group_item">
      <label for=""></label>
      <select formControlName="select">
        <option value="weatherStack">Weather Stack</option>
        <option value="openWeatherMap">Open Weather Map</option>
      </select>
    </div>
  </div>
  <button class="select-weather__btn" type="submit" [disabled]="locationForm.invalid">Получить</button>
</form>
