@import '../mixins';

nav {
  height: auto;
  background-color: #97a3ff;
  box-shadow: 0px 2px 3px 0px rgba(83, 80, 80, 0.75);

  @include media-phones {
    margin-bottom: 2vh;
  }
}

.container {
  width: 40%;
  margin: 0 auto;
  padding: 5px;
  font-family: 'Roboto';
  font-size: 16px;

  @include media-laptops {
    width: 60%;
  }

  @include media-tablets {
    width: 80%;
  }

  @include media-phones {
    width: 100%;
    padding: 0px;
  }

  .icon {
    display: none;

    &__img {
      width: 50px;
      height: 50px;
    }

    @include media-phones {
      display: flex;
      justify-content: flex-end;
      background-color: #c3a5e0;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-phones {
      flex-direction: column;
      align-items: stretch;
      width: 100vw;
    }

    a {
      text-decoration: none;
      color: #ffffff;
    }

    .active {
      color: #ba79f8;
    }

    a:hover {
      color: #ba79f8;
    }

    &__links {
      display: flex;
      list-style-type: none;
      justify-content: space-between;

      @include media-phones {
        flex-direction: column;
        align-items: center;
      }

      &_item {
        margin-right: 3vw;

        @include media-phones {
          margin-right: 0vw;
          margin-top: 2vh;
        }
      }
    }

    &__buttons {
      &_logout {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-phones {
          flex-direction: column;
          justify-content: center;
          margin-top: 2vh;
        }

        .logout {
          margin-left: 3vw;

          @include media-phones {
            margin-left: 0vw;
            margin-top: 2vh;
          }
        }
      }
    }
  }
}
