<div class="weather">
    <div class="weather__property">
        <div class="weather__property_name">
            <p>Resourse:</p>
        </div>
        <div class="weather__property_value">
            <p>{{ weather.resourse }}</p>
        </div>
    </div>
    <div class="weather__property">
        <div class="weather__property_name">
            <p>Temperature:</p>
        </div>
        <div class="weather__property_value">
            <p>{{ weather.temperature }} &deg;</p>
        </div>
    </div>
    <div class="weather__property">
        <div class="weather__property_name">
            <p>Feels like:</p>
        </div>
        <div class="weather__property_value">
            <p>{{ weather.feels_like }} &deg;</p>
        </div>
    </div>
    <div class="weather__property">
        <div class="weather__property_name">
            <p>Description:</p>
        </div>
        <div class="weather__property_value">
            <p>{{ weather.description }}</p>
        </div>
    </div>
    <div class="weather__property">
        <div class="weather__property_name">
            <p>Wind speed:</p>
        </div>
        <div class="weather__property_value">
            <p>{{ weather.wind_speed }}m/s</p>
        </div>
    </div>
    <div class="weather__property">
        <div class="weather__property_name">
            <p>Humidity:</p>
        </div>
        <div class="weather__property_value">
            <p>{{ weather.humidity }}%</p>
        </div>
    </div>
</div>