<materialize-card class="card">
  <div class="profile-card">
    <img src="{{ userInfo.photoUrl }}" alt="" />
    <div class="profile-card__info">
      <div class="profile-card__info_item">
        <p>First name:</p>
        <p>{{ userInfo.firstName }}</p>
      </div>
      <div class="profile-card__info_item">
        <p>Last name:</p>
        <p>{{ userInfo.lastName }}</p>
      </div>
      <div class="profile-card__info_item">
        <p>City:</p>
        <p>{{ userInfo.city }}</p>
      </div>
    </div>
  </div>
</materialize-card>
