/* You can add global styles to this file, and also import other style files */
@import 'mixins';

body {
  width: 100%;
  height: 100vh;
  background: #74bef0;
}

$materialize-fonts-path: '~materialize-angular/fonts';

$materialize-form-control-container-margin: 5px;
$materialize-form-control-container-line-color: #0750f6;
$materialize-form-control-focused-label-color: #0750f6;

$materialize-button-accent-background: #3873f7;
$materialize-button-accent-hover-background: #a759f0;

$materialize-card-margin: 0px;
$materialize-card-background: linear-gradient(0deg, #53bdf7 0%, #77abff 47%, #97a3ff 100%);

@import '~materialize-angular/styles/materialize-angular.scss';
